
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<br />
<h2>Fitness Club</h2>
<br />
<img src="~/Images/fitness gym.jpg" alt="No photo available" class="img-thumbnail" height="500" width="500">

